/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bolder;
    font-size: 3em;
    color: white;
    text-align: center;

}

h2 {
    text-align: center; 
}

h3 {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    height: 70px;
    background-color: white;
    justify-content: space-between;

}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: flex-end;
    margin-right: 30px;
   
}

li {
    padding-left: 20px;
}

a {
    text-decoration: none;
}

nav > img {
    height: 7vh;
    width: 22vh;
    margin-left: 30px;
}

.headerimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    text-align: center;
    color: white;
}

.overview {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}

.overview h2 {
    border-bottom: 5px;
    border-bottom-color: white;
    border-bottom-style: solid,
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.features p {
    color: black;
}

.feat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}

div > img {
    width: 8vh;
}


.example {
    background-color: #00B172;
    background-image: url("../images/spotify-icon-white.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
    padding-top: 50px;
    font-size: 1.2em;

}


.example div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.example h3 {
    color: white;
}


.example h2 {
    text-align: left;
    color: white;
    margin-top: 20px;

}

.example img {
   padding: 40px;
   height: 60vh;
} 

.example p {
    text-align: left;
}


.container-example {
    margin-left: 100px;
   
}

